<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blessing Igbadumhe's Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div>
          <nav>
            <ul>
              <li>Home</li>
              <li>Dashboard</li>
              {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Logout</button>
              {{else}}
                <li><a href="/login">Login</a></li>
              {{/if}}
            </ul>

          </nav>
        </div>
        <div class="blog-title">
          <h1><a href="/">Blessing Igbadumhe Blog</a></h1>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>