<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blessing Igbadumhe's Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div>
          <nav>
            <ul>
              <li>Home</li>
              <li>Dashboard</li>
              <li>Login</li>
              <li>Logout</li>
            </ul>

          </nav>
        </div>
        <div class="blog-title">
          <h1> Blessing Igbadumhe Blog</h1>
        </div>
      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        Enjoy my Blog
      </footer>
    </div>

  </body>

</html>