<section class="comment">
  <h2 class="section-form-header">Create New Post</h2>

  <form class="new-post-form">
    <div>
      <div>
        <label for="post-title">Title</label>
      </div>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <div>
        <label for="post-url">Content</label>
      </div>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>

</section>

<div>
  <button class="new-post-button">+New Post</button>
</div>