<section class="comment">
  <h2 class="section-form-header"> Edit Post </h2>
  <form class="edit-post-form">
    <div> Title </div>
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <div>Content</div>
      <input name="post-content" type="text" value="{{post.post_url}}" />
    </div>
    <button type="submit">Update post</button>
    <button type="button" class="delete-post-btn">Delete</button>
  </form>
</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>