{{#each posts}}
  <div class="title-box">

    <div class="title-header">
      <h3>{{title}}</h3>
      <span> <i>posted by {{user.username}} on {{created_at}}</i></span>

    </div>
    <div class="title-body">
      {{post_url}}
    </div>

  </div>
{{/each}}