<form class="login-form">
  <div class="login-form-header">
    Login
  </div>

  <div class="login-writting">
    <div class="login-title">
      <label for="email-login">Username</label>
    </div>
    <div>
      <input type="text" id="email-login" />
    </div>
  </div>

  <div class="login-writting">
    <div class="login-title">
      <label for="password-login">password</label>
    </div>
    <div>
      <input type="password" id="password-login" />
    </div>
  </div>

  <div class="login-box">
    <button type="submit">Login!</button>
  </div>

  <div class="login-sign">
     <button type="submit">sign up instead</button>
  </div>

</form>

{{! <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form> }}