<form class="login-form" id="signup-form">
  <div class="login-form-header">
    Sign Up
  </div>

  <div class="login-writting">
    <div class="login-title">
      <label for="username-signup">Username</label>
    </div>
    <div>
      <input type="text" id="username-signup" />
    </div>
  </div>

  <div class="login-writting">
    <div class="login-title">
      <label for="password-signup">password</label>
    </div>
    <div>
      <input type="password" id="password-signup" />
    </div>
  </div>

  <div class="login-box">
    <button type="submit">Sign Up!</button>
  </div>

  <div class="login-sign">
    <button type="submit">Login instead</button>
  </div>

</form>
<script src="/javascript/login.js"></script>