* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #d9ead3;
}

header {
  background-color: #231010;
  color: #d9ead3;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  font-size: 1.5em;
}

nav li a {
  text-decoration: none;
  color: #d9ead3;
}

.blog-title {
  margin-left: 60px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 12px;
  box-shadow: 5px 10px #a8a8a8;
  background-color: #d9ead3;
  color: #231010;
  display: inline-block;
}

.blog-title a {
  text-decoration: none;
  color: #231010;
}

.title-box,
.login-form,
.comment-form,
.comment {
  margin: 35px;
  border: 2px solid #231010;
  padding-bottom: 40px;
}

.title-header,
.login-form-header,
.section-form-header {
  background-color: #231010;
  color: #d9ead3;
  padding-left: 1.8rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-body {
  margin-left: 30px;
  line-height: 01.5em;
}

.login-form-header {
  padding: 0.45em;
  font-weight: 800;
  padding-left: 30px;
}

.login-writting,
.login-box,
.comment-button,
.login-sign {
  margin-left: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 1.5rem;
}

.login-title {
  margin-bottom: 10px;
}

input,
.login-box button,
.comment-button button {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.textinput {
  text-align: center;
  width: 90%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
  padding: 30px 0;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.login-box button,
.comment-button button {
  border-radius: 10px;
  height: 4%;
  text-align: center;
  color: white;
  background-color: #666666;
}

.login-sign button {
  background-color: #4e8ae9;
  border: 1px solid #ccc;
  font-size: 0.9em;
}

.login-sign button a {
  text-decoration: none;
  color: white;
}

.btn-no-style {
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #231010;
  color: #d9ead3;
  font-size: 1.4em;
}

.empty-background-color,
.new-post-button {
  background-color: #231010;
  height: 1.9em;
}

.comment {
  text-align: center;
}

.section-form-header {
  padding: 10px;
  margin-top: 0;
}

.new-post-button {
  color: white;
  padding: 15;
  font-size: 1.5em;
  border-radius: 8px;
  margin: auto;
}

.container-box {
  display: grid;
}
